@importtheme "dark";

CustomIDAMemo {
	qproperty-line-fg-default: #b2cacd;
	qproperty-line-fg-regular-comment: #87a7ab;
	qproperty-line-fg-repeatable-comment: #90aaad;
	qproperty-line-fg-automatic-comment: #98acae;
	qproperty-line-fg-insn: #b2cacd;
	qproperty-line-fg-dummy-data-name: #c4d6d9;
	qproperty-line-fg-regular-data-name: #c0cfd0;
	qproperty-line-fg-demangled-name: #e34e1c;
	qproperty-line-fg-punctuation: #b2cacd;
	qproperty-line-fg-charlit-in-insn: #85f1ff;
	qproperty-line-fg-strlit-in-insn: #85f1ff;
	qproperty-line-fg-numlit-in-insn: #f05723;
	qproperty-line-fg-void-opnd: #e34e1c;
	qproperty-line-fg-code-xref: #e4b781;
	qproperty-line-fg-data-xref: #85f1ff;
	qproperty-line-fg-code-xref-to-tail: #f05723;
	qproperty-line-fg-data-xref-to-tail: #85f1ff;
	qproperty-line-fg-error: #e34e1c;
	qproperty-line-fg-line-prefix: #b2cacd;
	qproperty-line-fg-opcode-byte: #b2cacd;
	qproperty-line-fg-extra-line: #e58eab;
	qproperty-line-fg-alt-opnd: #e693af;
	qproperty-line-fg-hidden: #eba858;
	qproperty-line-fg-libfunc: #e4b781;
	qproperty-line-fg-locvar: #ec8962;
	qproperty-line-fg-dummy-code-name: #eba858;
	qproperty-line-fg-asm-directive: #b2936b;
	qproperty-line-fg-macro: #5fdcec;
	qproperty-line-fg-strlit-in-data: #ffa487;
	qproperty-line-fg-charlit-in-data: #ffa487;
	qproperty-line-fg-numlit-in-data: #ec5522;
	qproperty-line-fg-keyword: #b2cacd;
	qproperty-line-fg-register-name: #e4b781;
	qproperty-line-fg-import-name: #eaa3bb;
	qproperty-line-fg-segment-name: #e7993b;
	qproperty-line-fg-dummy-unknown-name: #77eebc;
	qproperty-line-fg-code-name: #b2936b;
	qproperty-line-fg-unknown-name: #e693af;
	qproperty-line-fg-collapsed-line: #eba858;
	qproperty-line-pfx-libfunc: #e4b781;
	qproperty-line-pfx-func: #e2b47c;
	qproperty-line-pfx-insn: #e7bd8a;
	qproperty-line-pfx-data: #75ebfb;
	qproperty-line-pfx-unexplored: #ed5522;
	qproperty-line-pfx-extern: #eaa4bc;
	qproperty-line-pfx-current-item: #ed5522;
	qproperty-line-pfx-current-line: #eaa4bc;
	qproperty-line-bg-dbg-ip: #aea4f9;
	qproperty-line-bg-dbg-ip-bpt-enabled: #ed5522;
	qproperty-line-bg-dbg-ip-bpt-disabled: #aea4f9;
	qproperty-line-bg-dbg: #031417;
	qproperty-line-bg-dbg-bpt-enabled: #ed5522;
	qproperty-line-bg-dbg-bpt-disabled: #75ebfb;
	qproperty-line-bg-dbg-ip-bpt-unavailable: #aea4f9;
	qproperty-line-bg-dbg-bpt-unavailable: #ffa487;
	qproperty-graph-bg-top: #031417;
	qproperty-graph-bg-bottom: #031315;
	qproperty-graph-node-title-normal: #b2cacd;
	qproperty-graph-node-title-selected: #a49af2;
	qproperty-graph-node-title-current: #a49af2;
	qproperty-graph-node-frame-group: #eba858;
	qproperty-graph-node-shadow: #c8c8c8;
	qproperty-graph-node-high1: #45e7fb;
	qproperty-graph-node-high2: #85e4f0;
	qproperty-graph-node-foreign: #e34e1c;
	qproperty-graph-edge-normal: #17aec2;
	qproperty-graph-edge-yes: #85f1ff;
	qproperty-graph-edge-no: #ed5522;
	qproperty-graph-edge-high: #007180;
	qproperty-graph-edge-current: #9d92f2;
	qproperty-line-fg-patched-bytes: #f34d15;
	qproperty-line-fg-unsaved-changes: #ffa487;
	qproperty-line-bg-highlight: #9d92f2;
	qproperty-line-bg-hint: #031316;

	qproperty-line-fg-default: #93b8bd;
	qproperty-line-bg-default: #031417;
	qproperty-line-pfx-current-item: #ffa487;
	qproperty-line-pfx-current-line: #ffa487;
	qproperty-line-bg-bpt-enabled: #ed5522;
	qproperty-line-bg-bpt-disabled: #85f1ff;
}

/* search filter */
TChooser {
	qproperty-highlight-bg-default: #9d92f2;
	qproperty-highlight-bg-selected: #9d92f2;
}

MainMsgList {
	color: #b2cacd;
	background-color: #031417;
}

TCpuRegs {
	qproperty-register-defined: #223b3f;
	qproperty-register-changed: #eac79e;
	qproperty-register-edited: #68deee;
}

TCpuRegs ui_label_t {
	color: #98acae;
}

TextArrows {
	qproperty-jump-in-function: #96e7f2;
	qproperty-jump-external-to-function: #e7bd8a;
	qproperty-jump-under-cursor: #ffa487;
	qproperty-jump-target: #85f1ff;
	qproperty-register-target: #9d92f2;
}

navband_t {
	qproperty-lib-function: #e4b781;
	qproperty-function: #137c8a;
	qproperty-code: #e7bd8a;
	qproperty-data: #85f1ff;
	qproperty-undefined: #f4f8f8;
	qproperty-extern: #f1bacd;
	qproperty-error: #ed5522;
	qproperty-gap: #87a7ab;
	qproperty-cursor: #85f1ff;
	qproperty-auto-analysis-cursor: #ffa487;
}

CustomIDAMemo[debugging="true"] {
	qproperty-line-fg-default: #b2cacd;
	qproperty-line-bg-default: #031417;
	qproperty-line-pfx-current-item: #ffa487;
	qproperty-line-pfx-current-line: #e8c090;
	qproperty-line-bg-bpt-enabled: #ed5522;
	qproperty-line-bg-bpt-disabled: #85f1ff;
}

CustomIDAMemo[hints="true"] {
	qproperty-line-fg-default: #b2cacd;
	qproperty-line-bg-default: #031417;
	qproperty-line-pfx-current-item: #ffa487;
	qproperty-line-pfx-current-line: #ffa487;
	qproperty-line-bg-bpt-enabled: #ed5522;
	qproperty-line-bg-bpt-disabled: #85f1ff;
}

QWidget {
	background-color: #031417;
	color: #b2cacd;
}

QCheckBox {
	background-color: #ffffff;
}

QTextEdit,
QPlainTextEdit {
	background-color: #031417;
	border: 1px solid #031417;
	border-radius: 2px;
}

QMenu {
	border: 1px solid #031417;
	border-radius: 3px;
}

QMenuBar,
QMenuBar::item {
	background-color: #031417;
	color: #b2cacd;
}

QMenu::item:selected {
	background-color: #16a1b3;
}

QMenu::item:disabled {
	color: #15a4b6;
}

/* qTabBar */
QTabBar::tab {
	background-color: #031417;
	border-radius: 3px;
	padding: 4px;
}

QTabBar::tab:selected {
	background-color: #031215;
	border-radius: 3px;
}

QTableView {
	border: 1px solid #63a5ab;
	background-color: #021113;
	border-radius: 3px;
}

/* QHeaderView */
QHeaderView::section {
	background-color: #031417;
	border: none;
	border-left: 1px solid #97e8f2;
	border-right: 1px solid #97e8f2;
	padding: 3px;
}

QHeaderView:horizontal::section {
	min-height: 20px;
}

QHeaderView:vertical::section {
}

/* TableCornerButton */
QTableCornerButton::section {
	background: #021113;
	border: 2px outset #97e8f2;
}

/* QLineEdit*/
QLineEdit {
	border: 1px solid #031417;
	min-height: 20px;
	border-radius: 2px;
}

QLineEdit:hover,
QLineEdit:focus {
	border: 1px solid #97e8f2;
}

/* SCROLLBAR */
QScrollBar {
	background-color: #031518;
	width: 20px;
	height: 20px;
	margin: 0 0 0 0;
}

QScrollBar::sub-line,
QScrollBar::add-line {
	width: 0;
	height: 0;
}

QScrollBar::add-page,
QScrollBar::sub-page {
	background: none;
}

QScrollBar::handle:vertical {
	min-height: 20px;
}

QScrollBar::handle:horizontal {
	min-width: 20px;
}

QScrollBar::handle {
	background-color: #17afc3;
	margin: 3px;
	border-radius: 7px;
}

/* Toolbar */
QToolBar {
	border-radius: 5px;
	border: none;
}

/* PUSH BUTTON */
QPushButton {
	border: 1px solid #f0d7ba;
	text-align: center;
	min-height: 20px;
	min-width: 50px;
	padding: 0 6px 0 6px;
	border-radius: 2px;
}

QPushButton:hover,
QPushButton:default {
	border: 1px solid #17afc3;
}

QPushButton:pressed {
	border: 1px solid #17afc3;
}

/* OTHER */
TNavBand > QPushButton,
nav_scroll_button_t,
RegJumpButton {
	min-height: 0;
	min-width: 0;
	padding: 0;
	border: none;
}

DockWidgetTitle,
DockAreaDragTitle {
	border: none;
}

DockWidgetTitle[active="true"] {
	background-color: #031518;
}

DockAreaDragTitle {
	background-color: #031518;
}

/* ComboBox */

QComboBox {
	border: 1px solid #031518;
	border-radius: 2px;
	color: #b2cacd;
}

QComboBox > QLineEdit,
QComboBox > QLineEdit:hover,
QComboBox > QLineEdit:focus {
	border: none;
	min-height: default;
}

QComboBox:hover,
QComboBox:focus {
	border: 1px solid #97e8f2;
}

QComboBox::drop-down {
	width: 15px;

	border-left-width: 1px;
	border-left-color: #97e8f2;
	border-left-style: solid;
}

/* The 'menu' of a QComboBox */
QComboBox QAbstractItemView {
	border: 1px solid #97e8f2;
}

/* Labels */
QRadioButton,
QLabel,
QCheckBox {
	background: transparent;
}

/* StatusBar */
QStatusBar QLabel {
	border: none;
}

QStatusBar::item {
	border: 1px solid #97e8f2;
	border-radius: 2px;
}

/* Group */
EditContainer,
ChooserContainer,
QGroupBox,
QListView,
QTreeView {
	border: 1px solid #97e8f2;
	border-radius: 2px;
}

QGroupBox {
	margin-top: 5px;
}

QGroupBox::title {
	subcontrol-origin: margin;
	subcontrol-position: top left;
	left: 7px;
	padding: 0px 4px 0px 6px;
}

/* Tip */
QToolTip,
QTipLabel {
	border: 1px solid #97e8f2;
	border-radius: 2px;
	background: #031518;
	color: #b2cacd;
	margin: 0;
	padding: 0;
}

QTreeView::item:selected,
QListView::item:selected,
QTableView::item:selected {
	background-color: #031518;
	color: #cbdbde;
}
