@importtheme "dark";

CustomIDAMemo {
	qproperty-line-fg-default: #cfd8dc;
	qproperty-line-fg-regular-comment: #455a64;
	qproperty-line-fg-repeatable-comment: #42535b;
	qproperty-line-fg-automatic-comment: #414e54;
	qproperty-line-fg-insn: #cfd8dc;
	qproperty-line-fg-dummy-data-name: #e0e6e8;
	qproperty-line-fg-regular-data-name: #dbdfe1;
	qproperty-line-fg-demangled-name: #d32f2f;
	qproperty-line-fg-punctuation: #cfd8dc;
	qproperty-line-fg-charlit-in-insn: #388e3c;
	qproperty-line-fg-strlit-in-insn: #388e3c;
	qproperty-line-fg-numlit-in-insn: #e13535;
	qproperty-line-fg-void-opnd: #d32f2f;
	qproperty-line-fg-code-xref: #1976d2;
	qproperty-line-fg-data-xref: #388e3c;
	qproperty-line-fg-code-xref-to-tail: #e13535;
	qproperty-line-fg-data-xref-to-tail: #388e3c;
	qproperty-line-fg-error: #d32f2f;
	qproperty-line-fg-line-prefix: #cfd8dc;
	qproperty-line-fg-opcode-byte: #cfd8dc;
	qproperty-line-fg-extra-line: #e4165c;
	qproperty-line-fg-alt-opnd: #e8195f;
	qproperty-line-fg-hidden: #ffef64;
	qproperty-line-fg-libfunc: #1976d2;
	qproperty-line-fg-locvar: #f55b50;
	qproperty-line-fg-dummy-code-name: #ffef64;
	qproperty-line-fg-asm-directive: #ffab1f;
	qproperty-line-fg-macro: #7411fd;
	qproperty-line-fg-strlit-in-data: #e65100;
	qproperty-line-fg-charlit-in-data: #e65100;
	qproperty-line-fg-numlit-in-data: #dd3434;
	qproperty-line-fg-keyword: #cfd8dc;
	qproperty-line-fg-register-name: #1976d2;
	qproperty-line-fg-import-name: #ea2b6c;
	qproperty-line-fg-segment-name: #ffec44;
	qproperty-line-fg-dummy-unknown-name: #5db960;
	qproperty-line-fg-code-name: #ffab1f;
	qproperty-line-fg-unknown-name: #e8195f;
	qproperty-line-fg-collapsed-line: #ffef64;
	qproperty-line-pfx-libfunc: #1976d2;
	qproperty-line-pfx-func: #1973cb;
	qproperty-line-pfx-insn: #197cde;
	qproperty-line-pfx-data: #37a33c;
	qproperty-line-pfx-unexplored: #de3434;
	qproperty-line-pfx-extern: #ea2c6d;
	qproperty-line-pfx-current-item: #de3434;
	qproperty-line-pfx-current-line: #ea2c6d;
	qproperty-line-bg-dbg-ip: #1583ef;
	qproperty-line-bg-dbg-ip-bpt-enabled: #de3434;
	qproperty-line-bg-dbg-ip-bpt-disabled: #1583ef;
	qproperty-line-bg-dbg: #07090f;
	qproperty-line-bg-dbg-bpt-enabled: #de3434;
	qproperty-line-bg-dbg-bpt-disabled: #37a33c;
	qproperty-line-bg-dbg-ip-bpt-unavailable: #1583ef;
	qproperty-line-bg-dbg-bpt-unavailable: #e65100;
	qproperty-graph-bg-top: #07090f;
	qproperty-graph-bg-bottom: #06080e;
	qproperty-graph-node-title-normal: #cfd8dc;
	qproperty-graph-node-title-selected: #0f4ba8;
	qproperty-graph-node-title-current: #0f4ba8;
	qproperty-graph-node-frame-group: #ffef64;
	qproperty-graph-node-shadow: #648190;
	qproperty-graph-node-high1: #4bbe51;
	qproperty-graph-node-high2: #8c3afe;
	qproperty-graph-node-foreign: #d32f2f;
	qproperty-graph-edge-normal: #1a7fe4;
	qproperty-graph-edge-yes: #388e3c;
	qproperty-graph-edge-no: #de3434;
	qproperty-graph-edge-high: #fbc02d;
	qproperty-graph-edge-current: #64b5f6;
	qproperty-line-fg-patched-bytes: #e42828;
	qproperty-line-fg-unsaved-changes: #e65100;
	qproperty-line-bg-highlight: #64b5f6;
	qproperty-line-bg-hint: #2f3034;

	qproperty-line-fg-default: #354c57;
	qproperty-line-bg-default: #07090f;
	qproperty-line-pfx-current-item: #e65100;
	qproperty-line-pfx-current-line: #e65100;
	qproperty-line-bg-bpt-enabled: #de3434;
	qproperty-line-bg-bpt-disabled: #388e3c;
}

/* search filter */
TChooser {
	qproperty-highlight-bg-default: #64b5f6;
	qproperty-highlight-bg-selected: #64b5f6;
}

MainMsgList {
	color: #cfd8dc;
	background-color: #07090f;
}

TCpuRegs {
	qproperty-register-defined: #78909c;
	qproperty-register-changed: #2987e4;
	qproperty-register-edited: #7a1bfd;
}

TCpuRegs ui_label_t {
	color: #414e54;
}

TextArrows {
	qproperty-jump-in-function: #12e4ff;
	qproperty-jump-external-to-function: #197cde;
	qproperty-jump-under-cursor: #e65100;
	qproperty-jump-target: #388e3c;
	qproperty-register-target: #64b5f6;
}

navband_t {
	qproperty-lib-function: #1976d2;
	qproperty-function: #82c2f6;
	qproperty-code: #197cde;
	qproperty-data: #388e3c;
	qproperty-undefined: #c1ccd2;
	qproperty-extern: #f2427e;
	qproperty-error: #de3434;
	qproperty-gap: #455a64;
	qproperty-cursor: #388e3c;
	qproperty-auto-analysis-cursor: #e65100;
}

CustomIDAMemo[debugging="true"] {
	qproperty-line-fg-default: #cfd8dc;
	qproperty-line-bg-default: #07090f;
	qproperty-line-pfx-current-item: #e65100;
	qproperty-line-pfx-current-line: #ffbe60;
	qproperty-line-bg-bpt-enabled: #de3434;
	qproperty-line-bg-bpt-disabled: #388e3c;
}

CustomIDAMemo[hints="true"] {
	qproperty-line-fg-default: #cfd8dc;
	qproperty-line-bg-default: #07090f;
	qproperty-line-pfx-current-item: #e65100;
	qproperty-line-pfx-current-line: #e65100;
	qproperty-line-bg-bpt-enabled: #de3434;
	qproperty-line-bg-bpt-disabled: #388e3c;
}

QWidget {
	background-color: #07090f;
	color: #cfd8dc;
}

QCheckBox {
	background-color: #c2ccd2;
}

QTextEdit,
QPlainTextEdit {
	background-color: #07090f;
	border: 1px solid #303135;
	border-radius: 2px;
}

QMenu {
	border: 1px solid #303135;
	border-radius: 3px;
}

QMenuBar,
QMenuBar::item {
	background-color: #07090f;
	color: #cfd8dc;
}

QMenu::item:selected {
	background-color: #6300ec;
}

QMenu::item:disabled {
	color: #6400ef;
}

/* qTabBar */
QTabBar::tab {
	background-color: #07090f;
	border-radius: 3px;
	padding: 4px;
}

QTabBar::tab:selected {
	background-color: #2f3034;
	border-radius: 3px;
}

QTableView {
	border: 1px solid #c5d0d5;
	background-color: #2e2f33;
	border-radius: 3px;
}

/* QHeaderView */
QHeaderView::section {
	background-color: #07090f;
	border: none;
	border-left: 1px solid #13e4ff;
	border-right: 1px solid #13e4ff;
	padding: 3px;
}

QHeaderView:horizontal::section {
	min-height: 20px;
}

QHeaderView:vertical::section {
}

/* TableCornerButton */
QTableCornerButton::section {
	background: #2e2f33;
	border: 2px outset #13e4ff;
}

/* QLineEdit*/
QLineEdit {
	border: 1px solid #303135;
	min-height: 20px;
	border-radius: 2px;
}

QLineEdit:hover,
QLineEdit:focus {
	border: 1px solid #13e4ff;
}

/* SCROLLBAR */
QScrollBar {
	background-color: #313235;
	width: 20px;
	height: 20px;
	margin: 0 0 0 0;
}

QScrollBar::sub-line,
QScrollBar::add-line {
	width: 0;
	height: 0;
}

QScrollBar::add-page,
QScrollBar::sub-page {
	background: none;
}

QScrollBar::handle:vertical {
	min-height: 20px;
}

QScrollBar::handle:horizontal {
	min-width: 20px;
}

QScrollBar::handle {
	background-color: #6a00fd;
	margin: 3px;
	border-radius: 7px;
}

/* Toolbar */
QToolBar {
	border-radius: 5px;
	border: none;
}

/* PUSH BUTTON */
QPushButton {
	border: 1px solid #4798e8;
	text-align: center;
	min-height: 20px;
	min-width: 50px;
	padding: 0 6px 0 6px;
	border-radius: 2px;
}

QPushButton:hover,
QPushButton:default {
	border: 1px solid #6a00fd;
}

QPushButton:pressed {
	border: 1px solid #6a00fd;
}

/* OTHER */
TNavBand > QPushButton,
nav_scroll_button_t,
RegJumpButton {
	min-height: 0;
	min-width: 0;
	padding: 0;
	border: none;
}

DockWidgetTitle,
DockAreaDragTitle {
	border: none;
}

DockWidgetTitle[active="true"] {
	background-color: #313235;
}

DockAreaDragTitle {
	background-color: #313235;
}

/* ComboBox */

QComboBox {
	border: 1px solid #313235;
	border-radius: 2px;
	color: #cfd8dc;
}

QComboBox > QLineEdit,
QComboBox > QLineEdit:hover,
QComboBox > QLineEdit:focus {
	border: none;
	min-height: default;
}

QComboBox:hover,
QComboBox:focus {
	border: 1px solid #13e4ff;
}

QComboBox::drop-down {
	width: 15px;

	border-left-width: 1px;
	border-left-color: #13e4ff;
	border-left-style: solid;
}

/* The 'menu' of a QComboBox */
QComboBox QAbstractItemView {
	border: 1px solid #13e4ff;
}

/* Labels */
QRadioButton,
QLabel,
QCheckBox {
	background: transparent;
}

/* StatusBar */
QStatusBar QLabel {
	border: none;
}

QStatusBar::item {
	border: 1px solid #13e4ff;
	border-radius: 2px;
}

/* Group */
EditContainer,
ChooserContainer,
QGroupBox,
QListView,
QTreeView {
	border: 1px solid #13e4ff;
	border-radius: 2px;
}

QGroupBox {
	margin-top: 5px;
}

QGroupBox::title {
	subcontrol-origin: margin;
	subcontrol-position: top left;
	left: 7px;
	padding: 0px 4px 0px 6px;
}

/* Tip */
QToolTip,
QTipLabel {
	border: 1px solid #13e4ff;
	border-radius: 2px;
	background: #313235;
	color: #cfd8dc;
	margin: 0;
	padding: 0;
}

QTreeView::item:selected,
QListView::item:selected,
QTableView::item:selected {
	background-color: #313235;
	color: #3e5059;
}
