@importtheme "dark";

CustomIDAMemo {
	qproperty-line-fg-default: #d4d4d4;
	qproperty-line-fg-regular-comment: #d4d4d4;
	qproperty-line-fg-repeatable-comment: #dadada;
	qproperty-line-fg-automatic-comment: #595959;
	qproperty-line-fg-insn: #d4d4d4;
	qproperty-line-fg-dummy-data-name: #e3e3e3;
	qproperty-line-fg-regular-data-name: #dddddd;
	qproperty-line-fg-demangled-name: #ff3333;
	qproperty-line-fg-punctuation: #d4d4d4;
	qproperty-line-fg-charlit-in-insn: #19192f;
	qproperty-line-fg-strlit-in-insn: #19192f;
	qproperty-line-fg-numlit-in-insn: #f74f4f;
	qproperty-line-fg-void-opnd: #ff3333;
	qproperty-line-fg-code-xref: #b9e453;
	qproperty-line-fg-data-xref: #19192f;
	qproperty-line-fg-code-xref-to-tail: #f74f4f;
	qproperty-line-fg-data-xref-to-tail: #19192f;
	qproperty-line-fg-error: #ff3333;
	qproperty-line-fg-line-prefix: #d4d4d4;
	qproperty-line-fg-opcode-byte: #d4d4d4;
	qproperty-line-fg-extra-line: #ff9fe3;
	qproperty-line-fg-alt-opnd: #ff98e1;
	qproperty-line-fg-hidden: #ffff7c;
	qproperty-line-fg-libfunc: #b9e453;
	qproperty-line-fg-locvar: #ff5353;
	qproperty-line-fg-dummy-code-name: #ffff7c;
	qproperty-line-fg-asm-directive: #444463;
	qproperty-line-fg-macro: #c3c1c1;
	qproperty-line-fg-strlit-in-data: #ead653;
	qproperty-line-fg-charlit-in-data: #ead653;
	qproperty-line-fg-numlit-in-data: #f94848;
	qproperty-line-fg-keyword: #d4d4d4;
	qproperty-line-fg-register-name: #b9e453;
	qproperty-line-fg-import-name: #ff84db;
	qproperty-line-fg-segment-name: #ffff9c;
	qproperty-line-fg-dummy-unknown-name: #4fff81;
	qproperty-line-fg-code-name: #444463;
	qproperty-line-fg-unknown-name: #ff98e1;
	qproperty-line-fg-collapsed-line: #ffff7c;
	qproperty-line-pfx-libfunc: #b9e453;
	qproperty-line-pfx-func: #07070b;
	qproperty-line-pfx-insn: #bee75c;
	qproperty-line-pfx-data: #1d1d3f;
	qproperty-line-pfx-unexplored: #f84a4a;
	qproperty-line-pfx-extern: #ff83db;
	qproperty-line-pfx-current-item: #f84a4a;
	qproperty-line-pfx-current-line: #ff83db;
	qproperty-line-bg-dbg-ip: #f4f1f1;
	qproperty-line-bg-dbg-ip-bpt-enabled: #f84a4a;
	qproperty-line-bg-dbg-ip-bpt-disabled: #f4f1f1;
	qproperty-line-bg-dbg: #09090f;
	qproperty-line-bg-dbg-bpt-enabled: #f84a4a;
	qproperty-line-bg-dbg-bpt-disabled: #1d1d3f;
	qproperty-line-bg-dbg-ip-bpt-unavailable: #f4f1f1;
	qproperty-line-bg-dbg-bpt-unavailable: #ead653;
	qproperty-graph-bg-top: #09090f;
	qproperty-graph-bg-bottom: #09090f;
	qproperty-graph-node-title-normal: #d4d4d4;
	qproperty-graph-node-title-selected: #fbfbfb;
	qproperty-graph-node-title-current: #fbfbfb;
	qproperty-graph-node-frame-group: #ffff7c;
	qproperty-graph-node-shadow: #53539a;
	qproperty-graph-node-high1: #2e2e5e;
	qproperty-graph-node-high2: #f3e798;
	qproperty-graph-node-foreign: #ff3333;
	qproperty-graph-edge-normal: #c0e762;
	qproperty-graph-edge-yes: #19192f;
	qproperty-graph-edge-no: #f84a4a;
	qproperty-graph-edge-high: #f1fa8c;
	qproperty-graph-edge-current: #ffffff;
	qproperty-line-fg-patched-bytes: #f34949;
	qproperty-line-fg-unsaved-changes: #ead653;
	qproperty-line-bg-highlight: #ffffff;
	qproperty-line-bg-hint: #09090e;

	qproperty-line-fg-default: #e5e1e1;
	qproperty-line-bg-default: #09090f;
	qproperty-line-pfx-current-item: #ead653;
	qproperty-line-pfx-current-line: #ead653;
	qproperty-line-bg-bpt-enabled: #f84a4a;
	qproperty-line-bg-bpt-disabled: #19192f;
}

/* search filter */
TChooser {
	qproperty-highlight-bg-default: #ffffff;
	qproperty-highlight-bg-selected: #ffffff;
}

MainMsgList {
	color: #d4d4d4;
	background-color: #09090f;
}

TCpuRegs {
	qproperty-register-defined: #2d2d53;
	qproperty-register-changed: #c5e871;
	qproperty-register-edited: #f0e17b;
}

TCpuRegs ui_label_t {
	color: #595959;
}

TextArrows {
	qproperty-jump-in-function: #67ffff;
	qproperty-jump-external-to-function: #bee75c;
	qproperty-jump-under-cursor: #ead653;
	qproperty-jump-target: #19192f;
	qproperty-register-target: #ffffff;
}

navband_t {
	qproperty-lib-function: #b9e453;
	qproperty-function: #f0f0f0;
	qproperty-code: #bee75c;
	qproperty-data: #19192f;
	qproperty-undefined: #4b4b8a;
	qproperty-extern: #fb69d0;
	qproperty-error: #f84a4a;
	qproperty-gap: #d4d4d4;
	qproperty-cursor: #19192f;
	qproperty-auto-analysis-cursor: #ead653;
}

CustomIDAMemo[debugging="true"] {
	qproperty-line-fg-default: #d4d4d4;
	qproperty-line-bg-default: #09090f;
	qproperty-line-pfx-current-item: #ead653;
	qproperty-line-pfx-current-line: #3f3f5c;
	qproperty-line-bg-bpt-enabled: #f84a4a;
	qproperty-line-bg-bpt-disabled: #19192f;
}

CustomIDAMemo[hints="true"] {
	qproperty-line-fg-default: #d4d4d4;
	qproperty-line-bg-default: #09090f;
	qproperty-line-pfx-current-item: #ead653;
	qproperty-line-pfx-current-line: #ead653;
	qproperty-line-bg-bpt-enabled: #f84a4a;
	qproperty-line-bg-bpt-disabled: #19192f;
}

QWidget {
	background-color: #09090f;
	color: #d4d4d4;
}

QCheckBox {
	background-color: #5a5aa6;
}

QTextEdit,
QPlainTextEdit {
	background-color: #09090f;
	border: 1px solid #101019;
	border-radius: 2px;
}

QMenu {
	border: 1px solid #101019;
	border-radius: 3px;
}

QMenuBar,
QMenuBar::item {
	background-color: #09090f;
	color: #d4d4d4;
}

QMenu::item:selected {
	background-color: #181822;
}

QMenu::item:disabled {
	color: #171721;
}

/* qTabBar */
QTabBar::tab {
	background-color: #09090f;
	border-radius: 3px;
	padding: 4px;
}

QTabBar::tab:selected {
	background-color: #0f0f18;
	border-radius: 3px;
}

QTableView {
	border: 1px solid #4d4d8f;
	background-color: #0e0e16;
	border-radius: 3px;
}

/* QHeaderView */
QHeaderView::section {
	background-color: #09090f;
	border: none;
	border-left: 1px solid #66ffff;
	border-right: 1px solid #66ffff;
	padding: 3px;
}

QHeaderView:horizontal::section {
	min-height: 20px;
}

QHeaderView:vertical::section {
}

/* TableCornerButton */
QTableCornerButton::section {
	background: #0e0e16;
	border: 2px outset #66ffff;
}

/* QLineEdit*/
QLineEdit {
	border: 1px solid #101019;
	min-height: 20px;
	border-radius: 2px;
}

QLineEdit:hover,
QLineEdit:focus {
	border: 1px solid #66ffff;
}

/* SCROLLBAR */
QScrollBar {
	background-color: #10101a;
	width: 20px;
	height: 20px;
	margin: 0 0 0 0;
}

QScrollBar::sub-line,
QScrollBar::add-line {
	width: 0;
	height: 0;
}

QScrollBar::add-page,
QScrollBar::sub-page {
	background: none;
}

QScrollBar::handle:vertical {
	min-height: 20px;
}

QScrollBar::handle:horizontal {
	min-width: 20px;
}

QScrollBar::handle {
	background-color: #111118;
	margin: 3px;
	border-radius: 7px;
}

/* Toolbar */
QToolBar {
	border-radius: 5px;
	border: none;
}

/* PUSH BUTTON */
QPushButton {
	border: 1px solid #232339;
	text-align: center;
	min-height: 20px;
	min-width: 50px;
	padding: 0 6px 0 6px;
	border-radius: 2px;
}

QPushButton:hover,
QPushButton:default {
	border: 1px solid #111118;
}

QPushButton:pressed {
	border: 1px solid #111118;
}

/* OTHER */
TNavBand > QPushButton,
nav_scroll_button_t,
RegJumpButton {
	min-height: 0;
	min-width: 0;
	padding: 0;
	border: none;
}

DockWidgetTitle,
DockAreaDragTitle {
	border: none;
}

DockWidgetTitle[active="true"] {
	background-color: #10101a;
}

DockAreaDragTitle {
	background-color: #10101a;
}

/* ComboBox */

QComboBox {
	border: 1px solid #10101a;
	border-radius: 2px;
	color: #d4d4d4;
}

QComboBox > QLineEdit,
QComboBox > QLineEdit:hover,
QComboBox > QLineEdit:focus {
	border: none;
	min-height: default;
}

QComboBox:hover,
QComboBox:focus {
	border: 1px solid #66ffff;
}

QComboBox::drop-down {
	width: 15px;

	border-left-width: 1px;
	border-left-color: #66ffff;
	border-left-style: solid;
}

/* The 'menu' of a QComboBox */
QComboBox QAbstractItemView {
	border: 1px solid #66ffff;
}

/* Labels */
QRadioButton,
QLabel,
QCheckBox {
	background: transparent;
}

/* StatusBar */
QStatusBar QLabel {
	border: none;
}

QStatusBar::item {
	border: 1px solid #66ffff;
	border-radius: 2px;
}

/* Group */
EditContainer,
ChooserContainer,
QGroupBox,
QListView,
QTreeView {
	border: 1px solid #66ffff;
	border-radius: 2px;
}

QGroupBox {
	margin-top: 5px;
}

QGroupBox::title {
	subcontrol-origin: margin;
	subcontrol-position: top left;
	left: 7px;
	padding: 0px 4px 0px 6px;
}

/* Tip */
QToolTip,
QTipLabel {
	border: 1px solid #66ffff;
	border-radius: 2px;
	background: #10101a;
	color: #d4d4d4;
	margin: 0;
	padding: 0;
}

QTreeView::item:selected,
QListView::item:selected,
QTableView::item:selected {
	background-color: #10101a;
	color: #33335e;
}
