@importtheme "dark";

CustomIDAMemo {
	qproperty-line-fg-default: #ffffff;
	qproperty-line-fg-regular-comment: #697098;
	qproperty-line-fg-repeatable-comment: #676d8e;
	qproperty-line-fg-automatic-comment: #676b86;
	qproperty-line-fg-insn: #ffffff;
	qproperty-line-fg-dummy-data-name: #d0ffff;
	qproperty-line-fg-regular-data-name: #f6f6f6;
	qproperty-line-fg-demangled-name: #ef5350;
	qproperty-line-fg-punctuation: #ffffff;
	qproperty-line-fg-charlit-in-insn: #7e57c2;
	qproperty-line-fg-strlit-in-insn: #7e57c2;
	qproperty-line-fg-numlit-in-insn: #f85e5b;
	qproperty-line-fg-void-opnd: #ef5350;
	qproperty-line-fg-code-xref: #d1aaff;
	qproperty-line-fg-data-xref: #7e57c2;
	qproperty-line-fg-code-xref-to-tail: #f85e5b;
	qproperty-line-fg-data-xref-to-tail: #7e57c2;
	qproperty-line-fg-error: #ef5350;
	qproperty-line-fg-line-prefix: #ffffff;
	qproperty-line-fg-opcode-byte: #ffffff;
	qproperty-line-fg-extra-line: #c287e8;
	qproperty-line-fg-alt-opnd: #c48de9;
	qproperty-line-fg-hidden: #ffd994;
	qproperty-line-fg-libfunc: #d1aaff;
	qproperty-line-fg-locvar: #ff7189;
	qproperty-line-fg-dummy-code-name: #ffd994;
	qproperty-line-fg-asm-directive: #3a3f5b;
	qproperty-line-fg-macro: #9270cd;
	qproperty-line-fg-strlit-in-data: #2e3248;
	qproperty-line-fg-charlit-in-data: #2e3248;
	qproperty-line-fg-numlit-in-data: #f65b58;
	qproperty-line-fg-keyword: #ffffff;
	qproperty-line-fg-register-name: #d1aaff;
	qproperty-line-fg-import-name: #cd9eec;
	qproperty-line-fg-segment-name: #ffce75;
	qproperty-line-fg-dummy-unknown-name: #b8e477;
	qproperty-line-fg-code-name: #3a3f5b;
	qproperty-line-fg-unknown-name: #c48de9;
	qproperty-line-fg-collapsed-line: #ffd994;
	qproperty-line-pfx-libfunc: #d1aaff;
	qproperty-line-pfx-func: #d5b1ff;
	qproperty-line-pfx-insn: #f9f9f9;
	qproperty-line-pfx-data: #885fce;
	qproperty-line-pfx-unexplored: #f75c59;
	qproperty-line-pfx-extern: #ce9fec;
	qproperty-line-pfx-current-item: #f75c59;
	qproperty-line-pfx-current-line: #ce9fec;
	qproperty-line-bg-dbg-ip: #8a61d1;
	qproperty-line-bg-dbg-ip-bpt-enabled: #f75c59;
	qproperty-line-bg-dbg-ip-bpt-disabled: #8a61d1;
	qproperty-line-bg-dbg: #292d3e;
	qproperty-line-bg-dbg-bpt-enabled: #f75c59;
	qproperty-line-bg-dbg-bpt-disabled: #885fce;
	qproperty-line-bg-dbg-ip-bpt-unavailable: #8a61d1;
	qproperty-line-bg-dbg-bpt-unavailable: #2e3248;
	qproperty-graph-bg-top: #292d3e;
	qproperty-graph-bg-bottom: #2a2e3f;
	qproperty-graph-node-title-normal: #ffffff;
	qproperty-graph-node-title-selected: #835ec3;
	qproperty-graph-node-title-current: #835ec3;
	qproperty-graph-node-frame-group: #ffd994;
	qproperty-graph-node-shadow: #848cb0;
	qproperty-graph-node-high1: #a386d7;
	qproperty-graph-node-high2: #aa8fd7;
	qproperty-graph-node-foreign: #ef5350;
	qproperty-graph-edge-normal: #e5bf4c;
	qproperty-graph-edge-yes: #7e57c2;
	qproperty-graph-edge-no: #f75c59;
	qproperty-graph-edge-high: #7e57c2;
	qproperty-graph-edge-current: #7e57c2;
	qproperty-line-fg-patched-bytes: #fb514e;
	qproperty-line-fg-unsaved-changes: #2e3248;
	qproperty-line-bg-highlight: #7e57c2;
	qproperty-line-bg-hint: #272b3c;

	qproperty-line-fg-default: #555e8e;
	qproperty-line-bg-default: #292d3e;
	qproperty-line-pfx-current-item: #2e3248;
	qproperty-line-pfx-current-line: #2e3248;
	qproperty-line-bg-bpt-enabled: #f75c59;
	qproperty-line-bg-bpt-disabled: #7e57c2;
}

/* search filter */
TChooser {
	qproperty-highlight-bg-default: #7e57c2;
	qproperty-highlight-bg-selected: #7e57c2;
}

MainMsgList {
	color: #ffffff;
	background-color: #292d3e;
}

TCpuRegs {
	qproperty-register-defined: #4e5579;
	qproperty-register-changed: #9271ca;
	qproperty-register-edited: #9877d0;
}

TCpuRegs ui_label_t {
	color: #676b86;
}

TextArrows {
	qproperty-jump-in-function: #c5eeff;
	qproperty-jump-external-to-function: #f9f9f9;
	qproperty-jump-under-cursor: #2e3248;
	qproperty-jump-target: #7e57c2;
	qproperty-register-target: #7e57c2;
}

navband_t {
	qproperty-lib-function: #d1aaff;
	qproperty-function: #9070c7;
	qproperty-code: #f9f9f9;
	qproperty-data: #7e57c2;
	qproperty-undefined: #757da6;
	qproperty-extern: #dbb5f3;
	qproperty-error: #f75c59;
	qproperty-gap: #697098;
	qproperty-cursor: #7e57c2;
	qproperty-auto-analysis-cursor: #2e3248;
}

CustomIDAMemo[debugging="true"] {
	qproperty-line-fg-default: #ffffff;
	qproperty-line-bg-default: #292d3e;
	qproperty-line-pfx-current-item: #2e3248;
	qproperty-line-pfx-current-line: #272c3c;
	qproperty-line-bg-bpt-enabled: #f75c59;
	qproperty-line-bg-bpt-disabled: #7e57c2;
}

CustomIDAMemo[hints="true"] {
	qproperty-line-fg-default: #ffffff;
	qproperty-line-bg-default: #292d3e;
	qproperty-line-pfx-current-item: #2e3248;
	qproperty-line-pfx-current-line: #2e3248;
	qproperty-line-bg-bpt-enabled: #f75c59;
	qproperty-line-bg-bpt-disabled: #7e57c2;
}

QWidget {
	background-color: #292d3e;
	color: #ffffff;
}

QCheckBox {
	background-color: #8f96b7;
}

QTextEdit,
QPlainTextEdit {
	background-color: #292d3e;
	border: 1px solid #292d3e;
	border-radius: 2px;
}

QMenu {
	border: 1px solid #292d3e;
	border-radius: 3px;
}

QMenuBar,
QMenuBar::item {
	background-color: #292d3e;
	color: #ffffff;
}

QMenu::item:selected {
	background-color: #7f58c3;
}

QMenu::item:disabled {
	color: #8059c5;
}

/* qTabBar */
QTabBar::tab {
	background-color: #292d3e;
	border-radius: 3px;
	padding: 4px;
}

QTabBar::tab:selected {
	background-color: #272b3c;
	border-radius: 3px;
}

QTableView {
	border: 1px solid #7a82a9;
	background-color: #262a3a;
	border-radius: 3px;
}

/* QHeaderView */
QHeaderView::section {
	background-color: #292d3e;
	border: none;
	border-left: 1px solid #c7efff;
	border-right: 1px solid #c7efff;
	padding: 3px;
}

QHeaderView:horizontal::section {
	min-height: 20px;
}

QHeaderView:vertical::section {
}

/* TableCornerButton */
QTableCornerButton::section {
	background: #262a3a;
	border: 2px outset #c7efff;
}

/* QLineEdit*/
QLineEdit {
	border: 1px solid #292d3e;
	min-height: 20px;
	border-radius: 2px;
}

QLineEdit:hover,
QLineEdit:focus {
	border: 1px solid #c7efff;
}

/* SCROLLBAR */
QScrollBar {
	background-color: #292d3f;
	width: 20px;
	height: 20px;
	margin: 0 0 0 0;
}

QScrollBar::sub-line,
QScrollBar::add-line {
	width: 0;
	height: 0;
}

QScrollBar::add-page,
QScrollBar::sub-page {
	background: none;
}

QScrollBar::handle:vertical {
	min-height: 20px;
}

QScrollBar::handle:horizontal {
	min-width: 20px;
}

QScrollBar::handle {
	background-color: #8964c8;
	margin: 3px;
	border-radius: 7px;
}

/* Toolbar */
QToolBar {
	border-radius: 5px;
	border: none;
}

/* PUSH BUTTON */
QPushButton {
	border: 1px solid #eace79;
	text-align: center;
	min-height: 20px;
	min-width: 50px;
	padding: 0 6px 0 6px;
	border-radius: 2px;
}

QPushButton:hover,
QPushButton:default {
	border: 1px solid #8964c8;
}

QPushButton:pressed {
	border: 1px solid #8964c8;
}

/* OTHER */
TNavBand > QPushButton,
nav_scroll_button_t,
RegJumpButton {
	min-height: 0;
	min-width: 0;
	padding: 0;
	border: none;
}

DockWidgetTitle,
DockAreaDragTitle {
	border: none;
}

DockWidgetTitle[active="true"] {
	background-color: #292d3f;
}

DockAreaDragTitle {
	background-color: #292d3f;
}

/* ComboBox */

QComboBox {
	border: 1px solid #292d3f;
	border-radius: 2px;
	color: #ffffff;
}

QComboBox > QLineEdit,
QComboBox > QLineEdit:hover,
QComboBox > QLineEdit:focus {
	border: none;
	min-height: default;
}

QComboBox:hover,
QComboBox:focus {
	border: 1px solid #c7efff;
}

QComboBox::drop-down {
	width: 15px;

	border-left-width: 1px;
	border-left-color: #c7efff;
	border-left-style: solid;
}

/* The 'menu' of a QComboBox */
QComboBox QAbstractItemView {
	border: 1px solid #c7efff;
}

/* Labels */
QRadioButton,
QLabel,
QCheckBox {
	background: transparent;
}

/* StatusBar */
QStatusBar QLabel {
	border: none;
}

QStatusBar::item {
	border: 1px solid #c7efff;
	border-radius: 2px;
}

/* Group */
EditContainer,
ChooserContainer,
QGroupBox,
QListView,
QTreeView {
	border: 1px solid #c7efff;
	border-radius: 2px;
}

QGroupBox {
	margin-top: 5px;
}

QGroupBox::title {
	subcontrol-origin: margin;
	subcontrol-position: top left;
	left: 7px;
	padding: 0px 4px 0px 6px;
}

/* Tip */
QToolTip,
QTipLabel {
	border: 1px solid #c7efff;
	border-radius: 2px;
	background: #292d3f;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

QTreeView::item:selected,
QListView::item:selected,
QTableView::item:selected {
	background-color: #292d3f;
	color: #555c83;
}
