@importtheme "dark";

CustomIDAMemo {
	qproperty-line-fg-default: #00e8c6;
	qproperty-line-fg-regular-comment: #746f77;
	qproperty-line-fg-repeatable-comment: #6d6c6e;
	qproperty-line-fg-automatic-comment: #696969;
	qproperty-line-fg-insn: #00e8c6;
	qproperty-line-fg-dummy-data-name: #07ffdb;
	qproperty-line-fg-regular-data-name: #00fad5;
	qproperty-line-fg-demangled-name: #fc644d;
	qproperty-line-fg-punctuation: #00e8c6;
	qproperty-line-fg-charlit-in-insn: #96e072;
	qproperty-line-fg-strlit-in-insn: #96e072;
	qproperty-line-fg-numlit-in-insn: #ff735e;
	qproperty-line-fg-void-opnd: #fc644d;
	qproperty-line-fg-code-xref: #746f77;
	qproperty-line-fg-data-xref: #96e072;
	qproperty-line-fg-code-xref-to-tail: #ff735e;
	qproperty-line-fg-data-xref-to-tail: #96e072;
	qproperty-line-fg-error: #fc644d;
	qproperty-line-fg-line-prefix: #00e8c6;
	qproperty-line-fg-opcode-byte: #00e8c6;
	qproperty-line-fg-extra-line: #f200a1;
	qproperty-line-fg-alt-opnd: #f900a6;
	qproperty-line-fg-hidden: #ffed96;
	qproperty-line-fg-libfunc: #746f77;
	qproperty-line-fg-locvar: #f0735c;
	qproperty-line-fg-dummy-code-name: #ffed96;
	qproperty-line-fg-asm-directive: #07ffda;
	qproperty-line-fg-macro: #d181c7;
	qproperty-line-fg-strlit-in-data: #00e8c5;
	qproperty-line-fg-charlit-in-data: #00e8c5;
	qproperty-line-fg-numlit-in-data: #ff6f59;
	qproperty-line-fg-keyword: #00e8c6;
	qproperty-line-fg-register-name: #746f77;
	qproperty-line-fg-import-name: #ff0eaf;
	qproperty-line-fg-segment-name: #ffe877;
	qproperty-line-fg-dummy-unknown-name: #a6e588;
	qproperty-line-fg-code-name: #07ffda;
	qproperty-line-fg-unknown-name: #f900a6;
	qproperty-line-fg-collapsed-line: #ffed96;
	qproperty-line-pfx-libfunc: #746f77;
	qproperty-line-pfx-func: #00e1c0;
	qproperty-line-pfx-insn: #fea43b;
	qproperty-line-pfx-data: #f34080;
	qproperty-line-pfx-unexplored: #ff705a;
	qproperty-line-pfx-extern: #ff0faf;
	qproperty-line-pfx-current-item: #ff705a;
	qproperty-line-pfx-current-line: #ff0faf;
	qproperty-line-bg-dbg-ip: #83718e;
	qproperty-line-bg-dbg-ip-bpt-enabled: #ff705a;
	qproperty-line-bg-dbg-ip-bpt-disabled: #83718e;
	qproperty-line-bg-dbg: #23262e;
	qproperty-line-bg-dbg-bpt-enabled: #ff705a;
	qproperty-line-bg-dbg-bpt-disabled: #f34080;
	qproperty-line-bg-dbg-ip-bpt-unavailable: #83718e;
	qproperty-line-bg-dbg-bpt-unavailable: #00e8c5;
	qproperty-graph-bg-top: #23262e;
	qproperty-graph-bg-bottom: #24272f;
	qproperty-graph-node-title-normal: #00e8c6;
	qproperty-graph-node-title-selected: #85bcff;
	qproperty-graph-node-title-current: #85bcff;
	qproperty-graph-node-frame-group: #ffed96;
	qproperty-graph-node-shadow: #626c83;
	qproperty-graph-node-high1: #23fcdc;
	qproperty-graph-node-high2: #dca0d4;
	qproperty-graph-node-foreign: #fc644d;
	qproperty-graph-edge-normal: #594a60;
	qproperty-graph-edge-yes: #96e072;
	qproperty-graph-edge-no: #ff705a;
	qproperty-graph-edge-high: #ff9f2e;
	qproperty-graph-edge-current: #746f77;
	qproperty-line-fg-patched-bytes: #ff6a54;
	qproperty-line-fg-unsaved-changes: #00e8c5;
	qproperty-line-bg-highlight: #746f77;
	qproperty-line-bg-hint: #2a2f3a;

	qproperty-line-fg-default: #675a6e;
	qproperty-line-bg-default: #23262e;
	qproperty-line-pfx-current-item: #00e8c5;
	qproperty-line-pfx-current-line: #00e8c5;
	qproperty-line-bg-bpt-enabled: #ff705a;
	qproperty-line-bg-bpt-disabled: #96e072;
}

/* search filter */
TChooser {
	qproperty-highlight-bg-default: #746f77;
	qproperty-highlight-bg-selected: #746f77;
}

MainMsgList {
	color: #00e8c6;
	background-color: #23262e;
}

TCpuRegs {
	qproperty-register-defined: #333844;
	qproperty-register-changed: #474a53;
	qproperty-register-edited: #30befd;
}

TCpuRegs ui_label_t {
	color: #696969;
}

TextArrows {
	qproperty-jump-in-function: #25ffdf;
	qproperty-jump-external-to-function: #fea43b;
	qproperty-jump-under-cursor: #00e8c5;
	qproperty-jump-target: #96e072;
	qproperty-register-target: #746f77;
}

navband_t {
	qproperty-lib-function: #746f77;
	qproperty-function: #cc80c2;
	qproperty-code: #fea43b;
	qproperty-data: #96e072;
	qproperty-undefined: #576074;
	qproperty-extern: #fa32b7;
	qproperty-error: #ff705a;
	qproperty-gap: #746f77;
	qproperty-cursor: #96e072;
	qproperty-auto-analysis-cursor: #00e8c5;
}

CustomIDAMemo[debugging="true"] {
	qproperty-line-fg-default: #00e8c6;
	qproperty-line-bg-default: #23262e;
	qproperty-line-pfx-current-item: #00e8c5;
	qproperty-line-pfx-current-line: #f4a423;
	qproperty-line-bg-bpt-enabled: #ff705a;
	qproperty-line-bg-bpt-disabled: #96e072;
}

CustomIDAMemo[hints="true"] {
	qproperty-line-fg-default: #00e8c6;
	qproperty-line-bg-default: #23262e;
	qproperty-line-pfx-current-item: #00e8c5;
	qproperty-line-pfx-current-line: #00e8c5;
	qproperty-line-bg-bpt-enabled: #ff705a;
	qproperty-line-bg-bpt-disabled: #96e072;
}

QWidget {
	background-color: #23262e;
	color: #00e8c6;
}

QCheckBox {
	background-color: #6a748d;
}

QTextEdit,
QPlainTextEdit {
	background-color: #23262e;
	border: 1px solid #2b303b;
	border-radius: 2px;
}

QMenu {
	border: 1px solid #2b303b;
	border-radius: 3px;
}

QMenuBar,
QMenuBar::item {
	background-color: #23262e;
	color: #00e8c6;
}

QMenu::item:selected {
	background-color: #22252d;
}

QMenu::item:disabled {
	color: #22242b;
}

/* qTabBar */
QTabBar::tab {
	background-color: #23262e;
	border-radius: 3px;
	padding: 4px;
}

QTabBar::tab:selected {
	background-color: #2a2f3a;
	border-radius: 3px;
}

QTableView {
	border: 1px solid #5a6379;
	background-color: #292e39;
	border-radius: 3px;
}

/* QHeaderView */
QHeaderView::section {
	background-color: #23262e;
	border: none;
	border-left: 1px solid #27ffdf;
	border-right: 1px solid #27ffdf;
	padding: 3px;
}

QHeaderView:horizontal::section {
	min-height: 20px;
}

QHeaderView:vertical::section {
}

/* TableCornerButton */
QTableCornerButton::section {
	background: #292e39;
	border: 2px outset #27ffdf;
}

/* QLineEdit*/
QLineEdit {
	border: 1px solid #2b303b;
	min-height: 20px;
	border-radius: 2px;
}

QLineEdit:hover,
QLineEdit:focus {
	border: 1px solid #27ffdf;
}

/* SCROLLBAR */
QScrollBar {
	background-color: #2b303c;
	width: 20px;
	height: 20px;
	margin: 0 0 0 0;
}

QScrollBar::sub-line,
QScrollBar::add-line {
	width: 0;
	height: 0;
}

QScrollBar::add-page,
QScrollBar::sub-page {
	background: none;
}

QScrollBar::handle:vertical {
	min-height: 20px;
}

QScrollBar::handle:horizontal {
	min-width: 20px;
}

QScrollBar::handle {
	background-color: #1b1d23;
	margin: 3px;
	border-radius: 7px;
}

/* Toolbar */
QToolBar {
	border-radius: 5px;
	border: none;
}

/* PUSH BUTTON */
QPushButton {
	border: 1px solid #719dd5;
	text-align: center;
	min-height: 20px;
	min-width: 50px;
	padding: 0 6px 0 6px;
	border-radius: 2px;
}

QPushButton:hover,
QPushButton:default {
	border: 1px solid #1b1d23;
}

QPushButton:pressed {
	border: 1px solid #1b1d23;
}

/* OTHER */
TNavBand > QPushButton,
nav_scroll_button_t,
RegJumpButton {
	min-height: 0;
	min-width: 0;
	padding: 0;
	border: none;
}

DockWidgetTitle,
DockAreaDragTitle {
	border: none;
}

DockWidgetTitle[active="true"] {
	background-color: #2b303c;
}

DockAreaDragTitle {
	background-color: #2b303c;
}

/* ComboBox */

QComboBox {
	border: 1px solid #2b303c;
	border-radius: 2px;
	color: #00e8c6;
}

QComboBox > QLineEdit,
QComboBox > QLineEdit:hover,
QComboBox > QLineEdit:focus {
	border: none;
	min-height: default;
}

QComboBox:hover,
QComboBox:focus {
	border: 1px solid #27ffdf;
}

QComboBox::drop-down {
	width: 15px;

	border-left-width: 1px;
	border-left-color: #27ffdf;
	border-left-style: solid;
}

/* The 'menu' of a QComboBox */
QComboBox QAbstractItemView {
	border: 1px solid #27ffdf;
}

/* Labels */
QRadioButton,
QLabel,
QCheckBox {
	background: transparent;
}

/* StatusBar */
QStatusBar QLabel {
	border: none;
}

QStatusBar::item {
	border: 1px solid #27ffdf;
	border-radius: 2px;
}

/* Group */
EditContainer,
ChooserContainer,
QGroupBox,
QListView,
QTreeView {
	border: 1px solid #27ffdf;
	border-radius: 2px;
}

QGroupBox {
	margin-top: 5px;
}

QGroupBox::title {
	subcontrol-origin: margin;
	subcontrol-position: top left;
	left: 7px;
	padding: 0px 4px 0px 6px;
}

/* Tip */
QToolTip,
QTipLabel {
	border: 1px solid #27ffdf;
	border-radius: 2px;
	background: #2b303c;
	color: #00e8c6;
	margin: 0;
	padding: 0;
}

QTreeView::item:selected,
QListView::item:selected,
QTableView::item:selected {
	background-color: #2b303c;
	color: #3a404e;
}
